<!DOCTYPE html>
<html>
<head>
  <title>EpigenCentral</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
          <img src="/images/dna_logo.jpg" alt="" height="30" style="margin-top: -5px;">
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/">Upload</a></li>
          <li><a href="/analysis">Analysis</a></li>
        </ul>
        <% if (isAuthenticated) { %> 
          <a class="btn btn-default navbar-btn navbar-right" href="/logout" style="text-decoration: none;">Log out</a>
        <% } else { %> 
          <a class="btn btn-default navbar-btn navbar-right" href="/login" style="text-decoration: none;">Log in</a>
        <% } %>
      </div><!-- /.navbar-collapse -->

    </div><!-- /.container -->
  </nav>
